@import 'bootstrap/dist/css/bootstrap.min.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-toggle::after {
     display: none;
}

.overlay {
     opacity: 0;
     bottom: 0;
     width: 100%;
     background-color: white;
     transition: opcity 300ms ease-in-out;
}

.img-con:hover .overlay {
     opacity: 1;
}

.up:hover {
     margin-top: -10px;
}

/* interial section*/
.primary-img:hover img{
     transform: scale(1.2);
}

.primary-img img{
     transition: transform 2s ease-in-out;
     
}



.interior-img {
     animation: slidup 2s ease-in-out forwards;
}
.primary-img:hover .shop-icon{
     opacity: 1;
}

@keyframes slideuep {
     0% {
          opacity: 0;
          transform: translateY(500px);
     }

     100% {
          opacity: 1;
          transform: translateY(-150px);
     }
}

.shop-icon{
     opacity: 0;
}
.shop-icon:hover{
     opacity: 1 !important;
}

.icon-1:hover{
     background-color: black !important;
}

.icon-1:hover a{
     filter:invert(100%) sepia(1);
}